*{
  margin: 0;
}

header{
  padding: 2% 10%;
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}

h1{
  text-align: left;
  font-family: Dancing Script;
  color: white;
  text-shadow: 2px 2px  #02010a;
}

 a{
  float:right;
  text-decoration: none;
  text-shadow: none;
  padding: 10px;
  font-size: 20px;
  font-family: Dancing Script;
  color: white;
}

a:hover{
  text-decoration: underline;
}

#wrapper{
  width: 900px;
  text-align: center;
  margin: auto;
}

#contenido{
  background-color: #d5c75f;
}

.contenedor{
  width: 100%;
  display: flex;
  flex-direction: row;
}

#imagen1{
  width: 33.33%;
  padding: 2%;
}

#imagen1 img{
  height: 30vh;
  width: 80%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter:blur(10px);
  filter: blur(10px);
}

#imagen2{
  padding: 2%;
  width: 33.33%;
  display:block;
  margin: 0 auto;
}

#imagen2 img{
  height: 30vh;
  width: 80%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

#imagen3{
  padding: 2%;
  width: 33.33%;
}

#imagen3 img{
  height: 30vh;
  width: 80%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter:sepia(10px);
  filter: sepia(90%);
}

.contenedor1{
  width: 100%;
  display: flex;
  flex-direction: row;
}

#imagen4{
  width: 33.33%;
  padding: 2%;
}

#imagen4 img{
  height: 30vh;
  width: 80%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

#imagen5{
  width: 33.33%;
  padding: 2%;
}

#imagen5 img{
  height: 30vh;
  width: 80%;
  box-shadow: 2px 2px #02010a;
}

#imagen6{
  width: 33.33%;
  padding: 2%;
}

#imagen6 img{
  height: 30vh;
  width: 80%;
  box-shadow: 2px 2px #02010a;
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

footer{
  background-color: #c6d5c5;
  border-radius: 0 0 10px 10px;
  display: flex;
	flex-direction: row;
  padding: 2%;
  font-family: Dancing Script;
  font-weight: bold;
  text-align: center;
}

#colum1{
  width: 25%;
}

#colum2{
  width: 25%;
}

#colum3{
  width: 25%;
}

#colum4{
  width: 25%;
}

@media and (min-width: 900px){

  #wrapper
  {
    width: 100%;
  }
}

@media (max-width: 900px){

  a{
    float: none;
  }

  h1{
    text-align: center;
  }

  .contenedor{
    display: flex;
  	flex-direction: column;
    text-align: center;
  }

  .contenedor1{
    display: flex;
  	flex-direction: column;
    text-align: center;
  }

  #wrapper
  {
    width: 100%;
    margin: auto;
  }
  #imagen1
  {
    width: 100%;
    margin: auto;
  }
  #imagen2
  {
    width: 100%;

  }
  #imagen3
  {
    width: 100%;
    margin: auto;
  }

  #imagen4
  {
    width: 100%;
    margin: auto;
  }
  #imagen5
  {
    width: 100%;

  }
  #imagen6
  {
    width: 100%;
    margin: auto;
  }

  footer
  {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #colum1{
    width: 100%;
  }

  #colum2{
    width: 100%;
  }

  #colum3{
    width: 100%;
  }

  #colum4{
    width: 100%;
  }

}
